@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
*body {
  margin: 0px;
  padding: 0px;
}
.container {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  position: relative;
  width: 100%;
}
#visual{
  margin: auto; 
 
}
#time{
  width: 200px !important;
  text-align: center;
  vertical-align: middle;
  box-shadow: 2px 3px 3px gray;
  
}
#btn-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btnfunction {
  margin: 15px;
  padding: 3px;
  width: 100px !important;
  height: 45px !important;
  color: white;
  background-color: darkcyan;
  border-radius: 50px;
  display: inline;
  text-align: center;
  border: none;
  box-shadow: 2px 2px 2px gray;
}
input[type="button"]:hover {
  background-color: tomato;
  color: white;
}
input[type="button"]:focus {
  border: none;
}
#btn {
  width: 200px;
  height: 50px;
  margin: 0 auto;
  font-size: 22px;
  border: none;
 border-radius: 80px !important;
  display: block;
  text-align: center;
  background-color: tomato;
  color: white;
  box-shadow: 2px 2px 2px gray;  
}
#btn:hover {
  background-color: purple;
}
#visual {
  margin-top: 20px;
}
#time {
  border: 3px solid black;
  padding: 5px;
  width: 150px;
  height: 50px;
  color: #eb0eb3;
  font-weight: bold;
  font-size: 30px;
  justify-content: center;
  margin-left: 10%;
}
.social-icons{
  text-align: center;
}
.social-icons .social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 3.5rem;
  background-color: tomato;
  color: #fff;
  border-radius: 100%;
  font-size: 1.5rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-right: 1.5rem;
  box-shadow: 2px 2px 2px gray;  
  
}
/* .social-icons .social-icon:last-child {
  margin-right: 0;
} */
.social-icons .social-icon:hover {
  background-color: purple;
}
a{
  margin-top:2rem !important;
  margin-bottom:2rem !important;
  display: block;
  margin: auto;
  text-align: center
  box-shadow: 2px 2px 2px gray;  
}