@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
*body {
  margin: 0px;
  padding: 0px;
}
.container {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  position: relative;
  width: 100%;
}
#btn-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btnfunction {
  margin: 15px;
  padding: 3px;
  width: 100px;
  height: 45px;
  color: black;
  background-color: white;
  border-radius: 5px;
  display: inline;
  text-align: center;
  /* border-color: 1px solid #eb0eb3; */
}
input[type="button"]:hover {
  background-color: #eb0eb3;
  color: white;
}
#btn {
  width: 110px;
  height: 50px;
  margin: 0 auto;
  font-size: 22px;
  /* center button */
  display: block;
  text-align: center;
  background-color: #0c0d47;
  color: white;
  border-radius: 8px;
}
#btn:hover {
  background-color: #0dbf25;
}
#visual {
  margin-top: 20px;
}
#time {
  border: 3px solid black;
  padding: 5px;
  width: 150px;
  height: 50px;
  color: #eb0eb3;
  font-weight: bold;
  font-size: 30px;
  justify-content: center;
  margin-left: 10%;
}

.social-icons .social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    background-color: #495057;
    color: #fff;
    border-radius: 100%;
    font-size: 1.5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-right: 1.5rem;
    margin-left: 10%;
  }
  /* .social-icons .social-icon:last-child {
    margin-right: 0;
  } */
  .social-icons .social-icon:hover {
    background-color: #bd5d38;
  }